.game { width:720px; height:400px; margin:200px 24px 0; overflow:hidden; background-position:50%; background-size:cover; }
.game .game_table { float:left; display:inline-block; height:195px; background-color:rgba(255,255,255,0); }
.game [class*="game_item"] { float:left; display:inline-block; margin:2px; background-color:rgba(255,255,255,0); position:relative; }
.game [class*="game_item"] img { height:60px; }	
.game .game_item_answord { opacity:0; }

#game1.game .game_table { width:40%; margin:22px 5% 0; }
#game1.game	[class*="game_item"] { left:140px; top:36px; }
#game1.game [class*="game_item"]:nth-child(6) { clear:both; }

#game2.game .game_table { width:50%; margin:22px 0 0; }
#game2.game [class*="game_item"] { left:80px; top:36px; }
#game2.game [class*="game_item"]:nth-child(8) { clear:both; }
#game2.game [class*="game_item"]:nth-child(13) { clear:both; margin-left:60px; }
#game2.game [class*="game_item"]:nth-child(15) { margin-left:91px; }
#game2.game [class*="game_item"]:nth-child(18) { clear:both; }
#game2.game [class*="game_item"]:nth-child(21) { margin-left:91px; }
#game2.game .game_item_answord { left:8px; top:-275px; }
	
#game2 [class*="bg"] { background-position:50%; background-size:cover; }
#game2 .bg0 { background-image:url(game2_bg_0.png); }	
#game2 .bg1 { background-image:url(game2_bg_1.png); }	
#game2 .bg2 { background-image:url(game2_bg_2.png); }	
#game2 .bg3 { background-image:url(game2_bg_3.png); }	
#game2 .bg4 { background-image:url(game2_bg_4.png); }	
#game2 .bg5 { background-image:url(game2_bg_5.png); }	
#game2 .bg6 { background-image:url(game2_bg_6.png); }	
#game2 .bg7 { background-image:url(game2_bg_7.png); }	
#game2 .bg8 { background-image:url(game2_bg_8.png); }	
#game2 .bg9 { background-image:url(game2_bg_9.png); }	
	
	
	
	
	
	
	
	
	