body { min-width:100%; min-height:100vh; background-color:#ccc; margin:0; }

.center { text-align:center !important; }
.right { text-align:right !important; }
.left { text-align:left !important; }
label { margin:0; }
.red { color:red; }


/* INDEX */
#mainmenu { float:left; display:inline-block; width:100%; padding:5px 0; background-color:#000; box-shadow:0 0 5px 0 #000; }
#mainmenu label { float:left; display:inline-block; line-height:20px; padding:0 10px; margin:0; color:#ccc; }
#mainmenu label i { margin-right:0; }
#mainmenu a { float:left; display:inline-block; line-height:20px; padding:0 10px; color:#ccc; font-weight:bold; }
#mainmenu a:hover { color:#fff; text-decoration:none; }
#mainmenu #viewpage { margin-left:20px; }

#booklist { float:left; display:inline-block; width:100%; text-align:center; }
#booklist a { float:left; display:inline-block; width:20%; min-width:200px; max-width:300px; height:300px;  margin:20px 0 0 20px; background-color:#fff; 
	text-align:left; text-indent:5px; color:rgba(0,0,0,0.2); overflow:hidden; }
#booklist a:hover { color:#fff; text-decoration:none; text-shadow:0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000; }	
#booklist a.icon { line-height:380px; text-align:center; color:rgba(0,0,0,0.1); text-indent:0; }
#booklist a.icon:hover { color:rgba(0,0,0,0.2); text-shadow:none; }
#booklist a.icon i { font-size:100px; }
#booklist > div { float:left; display:inline-block; width:20%; min-width:200px; max-width:300px; height:300px;  margin:20px 0 0 20px; background-color:#fff; 
	text-align:left; text-indent:5px; color:rgba(0,0,0,0.2); overflow:hidden; background-color:#fff; }
#booklist > div iframe { float:left; display:inline-block; border:0;
	-moz-transform: scale(0.4, 0.4); 
	-webkit-transform: scale(0.4, 0.4); 
	-o-transform: scale(0.4, 0.4);
	-ms-transform: scale(0.4, 0.4);
	transform: scale(0.4, 0.4); 
	-moz-transform-origin: top left;
	-webkit-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	transform-origin: top left;
}
#booklist > div a { width:300px; margin:-1024px 0 0 0; position:relative; opacity:0; }
#booklist span { float:left; display:inline-block; width:20%; min-width:200px; max-width:300px; height:300px;  margin:20px 0 0 20px; background-color:#fff; 
	text-align:left; text-indent:5px; color:rgba(0,0,0,0.2); overflow:hidden; 
	background-position:50% 50%; background-repeat:no-repeat; background-size:contain; }
#booklist span:hover { color:#fff; text-decoration:none; text-shadow:0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000; }	
#booklist span.icon { line-height:380px; text-align:center; color:rgba(0,0,0,0.1); text-indent:0; cursor:pointer; }
#booklist span.icon:hover { color:rgba(0,0,0,0.2); text-shadow:none; }
#booklist span.icon i { font-size:100px; }



#booklistgen { float:left; display:inline-block; width:100%; margin:0 0 20px; }
#booklistgen table { float:none; display:table; width:100%; max-width:960px; margin:120px auto 50px; text-align:center; background-color:#f3f3f3; 
	box-shadow:0 0 0 50px #f3f3f3, 0 0 4px 49px #000; }
#booklistgen table thead tr td { background-color:#ddd; padding:5px 0; font-weight:bold; }
#booklistgen table tbody tr td { padding:5px 0; box-shadow:0 -1px 1px -1px #000 inset; color:#666; }
#booklistgen table tbody tr td:nth-child(3) { text-align:left; }

#pluspage { margin-top:20px; box-shadow:0 0 1px 0 #000; }

#booklistgen_print { float:none; display:none; width:100%; max-width:960px; margin:160px auto 50px; text-align:center; background-color:#f3f3f3; 
	box-shadow:0 0 0 50px #f3f3f3, 0 0 4px 49px #000; }

#booklistgen_table tbody tr td:nth-child(5) div { float:left; display:inline-block; width:192px; height:255px; overflow:hidden; }
#booklistgen_table tbody tr td:nth-child(5) iframe { float:left; display:inline-block; border:0;
	-moz-transform: scale(0.25, 0.25); 
	-webkit-transform: scale(0.25, 0.25); 
	-o-transform: scale(0.25, 0.25);
	-ms-transform: scale(0.25, 0.25);
	transform: scale(0.25, 0.25); 
	-moz-transform-origin: top left;
	-webkit-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	transform-origin: top left;
}*/



/* Create book */
#createbook { float:left; display:inline-block; width:40%; margin:20px 0 0 2%; }
#createbook .box { float:left; display:inline-block; width:100%; padding:10px 1%; border-radius:3px; background-color:#fff; box-shadow:0 0 5px 0 rgba(0,0,0,0.5); clear:both; }
#createbook .btn { float:left; margin:10px 0 0 10px; }


/* EDITOR */
#render { float:left; display:inline-block; width:768px; height:1024px; margin:0 20px 0 0; background-color:#fff; box-shadow:0 0 2px 2px rgba(0,0,0,0.2); overflow:hidden;
	background-position:50% 50%; background-size:cover; }
#render > div { position:absolute; top:0; left:0; cursor:-webkit-grab; overflow:auto; }
#render > div:hover { box-shadow:0 0 0 1px #ccc; }
#render > div:hover img { display:none; }
#render > div:active { cursor:-webkit-grabbing; }
#render > * { font-size:22px; line-height:26px; }

#editor { float:left; display:inline-block; margin-top:20px; }
#editor .box, #editor .projectname { float:left; display:inline-block; width:100%; padding:10px 2%; margin:0 0 10px; background-color:#fff; border-radius:1px; box-shadow:0 0 2px 2px rgba(0,0,0,0.2); }
#editor .box .btn { margin-top:10px; }
#editor .box .fullcol { float:left; display:inline-block; width:100%; margin:0 0 10px; }
#editor .box .fullcol > * { float:left; display:inline-block; }
#editor .box .fullcol > label { line-height:26px; }

.wysihtml5-toolbar { float:left; display:inline-block; width:100%; margin:0; padding:0; }
.wysihtml5-toolbar li { float:left; display:inline-block; margin:0; padding:0; }


/* EDITOR AND PAGE */
#render div p { float:left; display:inline-block; width:100%; margin:0; }

#page { float:left; display:inline-block; width:768px; height:1024px; overflow:hidden;
	background-position:50% 50%; background-size:cover; }

.wysiwyg-color-silver { color:silver; }
.wysiwyg-color-gray { color:gray; }
.wysiwyg-color-maroon { color:maroon; }
.wysiwyg-color-red { color:red; }
.wysiwyg-color-purple { color:purple; }
.wysiwyg-color-green { color:green; }
.wysiwyg-color-olive { color:olive; }
.wysiwyg-color-navy { color:navy; }
.wysiwyg-color-blue { color:blue; }
.wysiwyg-color-orange { color:orange; }



.audiobox { background-image:url(images/audio.png); background-position:50%; background-size:cover; }
.audio { display:none; }





#viewbook { float:left; display:inline-block; width:100%; 
	background-position:50% 50%; background-repeat:no-repeat; background-size:contain; }
#viewbook > a { float:left; display:inline-block; width:16%; text-align:center; }
#viewbook > a:last-child { float:right; }
#viewbook > a:hover { box-shadow:100px 0 100px -50px #444 inset; }
#viewbook > a:last-child:hover { box-shadow:-100px 0 100px -50px #444 inset; }
#viewbook > a i { font-size:50px; color:rgba(255,255,255,0.9); }
#viewbook > span { float:left; display:inline-block; width:16%; text-align:center; cursor:pointer; }
#viewbook > span:last-child { float:right; }
#viewbook > span:hover { box-shadow:100px 0 100px -50px #444 inset; }
#viewbook > span:last-child:hover { box-shadow:-100px 0 100px -50px #444 inset; }
#viewbook > span i { font-size:50px; color:rgba(255,255,255,0.9); }
#viewbook iframe { display:block; margin:0 auto; }






















